/* 애니메이션 효과 */
.up{
  /* y 좌표를 아래쪽으로 100px 만큼 내린다 */
  transform: translate(0, 3rem); 
  opacity: 0;
}
.down{
  /* y 좌표를 위쪽으로 100px 만큼 올린다 */
  transform: translate(0, -3rem);
  opacity: 0;
}
/* x 좌표를 오른쪽으로 100px 만큼 이동한다 */
.left {
  transform: translate(3rem, 0);
  opacity: 0;
}
/* x 좌표를 왼쪽으로 100px 만큼 이동한다 */
.right {
  transform: translate(-3rem, 0);
  opacity: 0;
}
.show{
  opacity: 1;
  transform: none;
}