@import url('reset.css');
@import url('global.css');
@import url('header.css');
@import url('footer.css');
@import url('animation.css');

/* 시작하기 버튼 */
header .navbar ul li a button{
  width: 5rem;
  height: 2rem;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: .9rem;
  transition: .2s;
}
header .navbar ul li a button:hover{
  background: var(--secondary-color);
  letter-spacing: .1rem;
}
/* 검색창 */
header .navbar ul li .search-container{
  display: flex;
}
header .navbar ul li .search-container .search{
  background: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
}
header .navbar ul li .search-container .search:hover{
  background: var(--secondary-color);
}
header .navbar ul li .search-container .search span{
  font-size: 1.5rem;
}
header .navbar ul li .search-container .keyword{
  width: 20rem;
  padding-left: .5rem;
  border: 2px solid var(--primary-color);
  outline: none;
}
header .navbar ul li .search-container .keyword::placeholder{
  color: var(--primary-color);
}
header .navbar ul li .search-container .keyword:focus{
  color: var(--secondary-color);
}

/* 카테고리 섹션 */
.category-container.dark{ 
  color: #fff;
  background: #333;
}
.category-container{
  width: 100vw;  
  background: #fff;
  position: sticky; top: var(--header-height);
  z-index: 1;
  padding: 1rem 2rem;

}
.category-container ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.category-container ul li{
  margin: .2rem .5rem;
}
.category-container ul li button{
  /* width: 5rem; */ /* 글자수에 따라 너비가 유동적으로 변하도록*/
  height: 2rem;
  background: #333; 
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 0rem 1rem;
  box-shadow: 0 0 .3rem rgba(0, 0, 0, .3);
  transition: .2s;
}
.category-container ul li button:hover{
  background: var(--secondary-color);
  letter-spacing: .2rem;
}